.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
}

.catchphrase{
    width: 33%;
    margin: 1rem 0;
    background-color: $color-3;
    @include borderRadius;
}