.card{
    background-color: $grey;
    @include borderRadius;
    width: 22rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    &:first-child{
        margin-right: 1rem;
    }
    &-dates{
        padding: 1rem 0;
    }
    &-btn a{
        @include linkAsButton;
    }
}