@media screen and (max-width:767px) {
    
    #root{
        &::after{
            top: 32px;
            left: 0;
            height: 150%;
            background-attachment: fixed;
            background-image: url('../../../public/img/background/background-mob.webp');
        }
    }

    .logo-container{
        margin: 2rem 0;
    }

    main{
        height: 116vh;
    }
    
    .home{
        padding: 1rem 0;
    }

    .catchphrase{
        width: 100%;
        border-radius: unset;
    }

    .list{
        flex-direction: column;
        width: 100%;
    }

    .card{
        width: 100%;
        &:first-child{
            margin: 0 0 1rem 0;
        }
    }

    .edition-sub{
        flex-direction: column;
    }

    .presentation, .informations{
        border: unset;
        width: 100%;
    }
}