//Fonts
@font-face {
    font-family: "font-1";
    src: url(./assets/fonts/moon_get-Heavy.ttf);
    font-display: swap;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


// Variables
$font-title: "font-1", sans-serif;
$font-txt : 'Roboto', sans-serif;

$color-1: #ECBA63;
$color-2: #7A2125 ;
$color-3: #1F3C7A;
$color-4: #BC3C47 ;
$color-5: #3160b6;
$black: #0E0E10;
$white: #FDFDFD;
$grey: #353535;
$bg-title: #0e0e10c2;

// Mixins
@mixin borderRadius{
    border-radius: 5px;
    padding: 1rem;
}

@mixin linkAsButton {
    background-color: $color-3;
    padding: 0.2rem 1rem;
    width: 100%;
    @include borderRadius;
    color: $color-1;
    font-weight: bold;
    display: inline-block;
    text-transform: uppercase;
    cursor: pointer;
}

@mixin fontTitle{
    font-family: $font-title;
    letter-spacing: 2px;
    text-shadow: 0 0 3px $black;
}

// Global
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    outline: none;
    border: none;
    text-decoration: none;
    font-family: $font-txt;
}

html{
    color: $white;
    line-height: 1.8;
    font-size: 16px;
}

#root{
    &::after{
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        transition: opacity 0.5s ease 250ms;
        background-position: center;
        background-repeat: no-repeat;
        background-size:  cover;
        background-image: url('../../public/img/background/background.webp');
        opacity: 1;
        z-index: -101;
    }
}

main{
    height: 70vh;
}

.container{
    display: flex;
    flex-direction: column;
}

h1{
    position: absolute;
    left: -999px;
    @include fontTitle;
}

h2{
    position: relative;
    @include fontTitle;
    background-color: $bg-title;
    &::before{
        position: absolute;
        left: 0px;
        bottom: 0px;
        width: 70%;
        height: 8%;
        content: " ";
        background-color: $color-4;
    }
}

h3{
    position: relative;
    @include fontTitle;
    font-size: 22px;
    &::before{
        position: absolute;
        left: 0px;
        bottom: 0px;
        width: 70%;
        height: 8%;
        content: " ";
        background-color: $color-5;
    }
}

a:not(.linkastext){
    font-weight: bold;
}

.linkastext{
    color: $color-1;
    &:hover{
        text-decoration: underline;
    }
}